<h1>Student list</h1>
<div class="row" ng-show="is_authenticated">
    <ng-form novalidate name="studForm">
        <div class="col-md-4">
            <div>Student's full name:
                <input type="text" class="form-control" ng-model="newStudentName" ng-required="true"
                       autofocus="autofocus"/>
            </div>
            <div>Student's ID number:
                <input type="text" class="form-control" ng-model="newStudentId" ng-required="true"/>
            </div>
            <div>Student's birth date:
                <input type="date" class="form-control" ng-model="newStudentBirthDate" ng-required="true"/>
            </div>
            <div>Select group:
                <select class="form-control" ng-model="newStudentGroup"
                        ng-options="group as group.title for group in groups | orderBy: 'title'">
                    <option value="">--select group--</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success" ng-disabled="studForm.$invalid" ng-click="addStudent()">
                Add student
            </button>
        </div>
    </ng-form>
</div>

<h2>List of students</h2>
<table class="table">
    <tr>
        <th>#</th>
        <th>Full name</th>
        <th>ID number</th>
        <th>Birth date</th>
        <th>Group</th>
        <th ng-show="is_authenticated">Edit</th>
        <th ng-show="is_authenticated">Delete</th>
    </tr>
    <tr ng-repeat="student in students | orderBy: 'full_name'">
        <td>{{ $index + 1 }}</td>
        <td><a href="{{ student.api_url }}">{{ student.full_name }}</a></td>
        <td>{{ student.id_number }}</td>
        <td>{{ student.birth_date }}</td>
        <td><a ng-href="{{ student.group_api_url }}">{{ student.group_title }}</a></td>
        <td ng-show="is_authenticated"><a class="btn btn-default" ng-href="{{ student.api_url }}"><span
                class="glyphicon glyphicon-edit"></span></a>
        </td>
        <td ng-show="is_authenticated">
            <button class="btn btn-default" ng-click="deleteStudent(student)"><span
                    class="glyphicon glyphicon-trash"></span></button>
        </td>
    </tr>
</table>